@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Bungee+Spice&family=Cinzel+Decorative&family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded-lg border border-gray-300 px-3 py-2 text-sm text-gray-900 shadow-sm focus:border-green-500 focus:outline-none focus:ring-green-500;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-green-500 focus:border-green-500;
  }
} 

 @layer components {
  .cust-divider {
    @apply w-full border-b border-gray-400;
  }
  .cust-btn {
    @apply border border-gray-300 text-sm font-medium text-gray-900 hover:bg-green-600 hover:text-white focus:border-green-500 focus:outline-none;
  }
  .cust-bg-primary {
    @apply bg-[#2CE29F];
  }
  .cust-bg-secondary {
    @apply bg-[#ebcfad];
  }
  .cust-bg-background {
    @apply bg-[#e7fdf5];
  }
  .cust-text-accent {
    @apply text-[#569FF9];
  }
  .cust-text-text {
    @apply text-[#0a1829];
  }
}

/* colors: {
  text: '#0a1829',
  background: '#e7fdf5',
    primary: '#2CE29F',
    secondary: '#ebcfad',
    accent: '#569FF9',
}, */